
<div class="row">
    <div class="col-md-4 ">
        
        @using (Html.BeginForm("Login", "Login", FormMethod.Post ))
        {
            <legend>Inloggen</legend>
                <div class="form-group">
                        <div class="col-sm-10">
                            @Html.TextBox("email", null, new { id = "email", @class = "form-control" , required="true"})  
                           
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBox("password", null, new { id = "password", @class = "form-control", type="password" , required="true"})  
                           
                        </div>
                </div>
                <input type="submit" value="Inloggen"/>
                <br /> 
        }
    </div>
    <div class="col-md-4 col-md-offset-1">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>Log in met social media</legend>
                <button class="loginBtn loginBtn--facebook">
                    Login with Facebook
                </button>

                <button class="loginBtn loginBtn--google">
                    Login with Google
                </button>
                </fieldset>
        </form>
    </div>
 </div>    
