
@{
    ViewBag.Title = "Inloggen_";
}
<div class="row">
    <div class="col-md-4 ">
        <form class="form-horizontal" role="form">
            <fieldset>
               <legend>Inloggen</legend>
                <div class="form-group">
                        <div class="col-sm-10">
                            <input type="email" name="fistName" placeholder="Email" class="form-control">
                        </div>
                        <div class="col-sm-10">
                            <input type="password" name="fistName" placeholder="Wachtwoord" class="form-control">
                        </div>
                    </div>
                    <button type="submit">Inloggen</button>
                    <br /> 
             </fieldset>
         </form>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>Log in met social media</legend>
                <button class="loginBtn loginBtn--facebook">
                    Login with Facebook
                </button>

                <button class="loginBtn loginBtn--google">
                    Login with Google
                </button>
                </fieldset>
        </form>
    </div>
 </div>    
