@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="container-content">
            <h2>@ViewData["Title"]</h2>
            <address>
                Hogeschool Rotterdam<br />
                Wijnhaven 107, 1234AB<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Email:</strong> <a href="mailto:support@bdh.nl">support@bdh.nl</a><br />
            </address>
        </div>
    </div>
</div>