<div class="row">
    <div class="col-md-10 ">
        <form class="form-horizontal" role="form">
            <fieldset>
                <legend>Registeren</legend>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="email" name="fistName" placeholder="Email" class="form-control MarginTop">
                        <input type="password" name="fistName" placeholder="Wachtwoord" class="form-control MarginTop">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="fistName" placeholder="Voornaam" class="form-control MarginTop">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="middleName" placeholder="Tussenvoegsel" class="form-control">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" name="lastName" placeholder="Achternaam" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <input type="date" placeholder="Geboorte datum" class="form-control datepicker">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <select type="gender" placeholder="Geslacht" class="form-control">
                            <option value="female">Vrouw</option>
                            <option value="male">Man</option>
                        </select>
                    </div>
                </div>
                <legend>Adresgegevens</legend>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" name="addressLine1" placeholder="Bezorg adres" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" name="addressLine2" placeholder="Afleveradres" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="text" name="city" placeholder="Plaats" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="postalCode" placeholder="Postcode" class="form-control">
                    </div>
                </div>
                <button type="submit">Registreren</button>
            </fieldset>
        </form>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->

